// ------- Colors --------

$white-color: #f9f9f9;
$gray-color: #4d4f50;
$light-gray-color: #56595a;
$blue-color: #00ccf5;
$green-color: #33d751;
$font-color: #545454;

// -------- Font ----------

$NPPfont: 'Montserrat', Semi Bold;