/* Styles for the parent Component */
.my-dropdown {
    font-size: 17pt;
    width: 185px;
    font-family: "Myriad Pro";
    font-size: 17px;
    outline: 4px solid transparent;
    border-radius: 4px;
    border: 2px solid rgb(77, 79, 80, 0.2);
}

.my-dropdown:active, .my-dropdown.active{
    outline: 4px solid #33d6f7;
    border-color: #717273;
}
.my-dropdown:hover {
    border-color: #717273;
}

/* Dropdown button */
.my-dropdown-btn {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 8px;
    color: #717273;
    border:none;
    min-width: 180px;
    font-size: 17pt;
}
.my-dropdown-btn .icon {
    padding-left: 16px;
    padding-right: 8px;
    background-image: url(bubble.svg);
    background-repeat: no-repeat;
    background-size: 18px 25px;
    filter: invert(0.4);
}
.my-dropdown-btn::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .2em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    align-self: center;
}

/* Toggle button text between title and value */
.my-dropdown span.my-dropdown-value {
    display: inline;
}
.my-dropdown span.my-dropdown-label {
    color: #bababa;
    display: none;
    font-size: 17pt;
}
.my-dropdown.active span.my-dropdown-value {
    display: none;
}
.my-dropdown.active span.my-dropdown-label {
    display: inline;
}

/* Dropdown menu */
.my-dropdown ul {
    display: none;
}
.my-dropdown.active ul{
    display: block;
}

.my-dropdown-menu {
    margin: 0;
    padding: 0;
}

/* Dropdown meun item */
.my-dropdown-menu li {
    border-top: 2px solid #f4f4f6;
    padding: 7px 7px 7px 30px;
    font-size: 17pt;    
    cursor: default;
    list-style: none;
    color: #717273;
}

.my-dropdown-menu li:hover {
    background-color: #f4f4f6;
}

.icon1 {
    width: 16px;
    height: 14px;
    margin-left: 70px;
    filter: invert(41%) sepia(91%) saturate(1896%) hue-rotate(164deg) brightness(99%) contrast(101%);
}