@import "../variables.scss";
@import "../responsive.scss";

.card {
    margin-top: 50px;
    color: #4d4f50;
    font-size: 19px;
    font-family: $NPPfont;

    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-title {
            &-info {
                font-size: 47px;
                font-weight: 600;
                color: #4d4f50;
                text-align: center;
            }
        }
        &-path {
            font-size: 19px;
            text-transform: uppercase;
            
            & span {
                cursor: pointer;
            }

            & img {
                margin: 0 10px;
                rotate: 90deg;
                filter: invert(28%) sepia(7%) saturate(147%) hue-rotate(155deg) brightness(98%) contrast(88%);;
                width: 9px;
            }
        }

        &-help {
            display: flex;
            align-items: center;
            width: 280px;
            color: #80808075;

            @media (width < 1024px) {
                display: none;
            }

            & img {
                width: 18px;
                margin: 10px;
                filter: brightness(0.8) invert(0.8);
            }

            & span {
                margin: 10px;
                color: #545454;
                cursor: pointer;

                &:hover {
                    color: #44daf8;
                }
            }
        }
    }

    &-content {
        margin-top: 60px;
        font-size: 19px;
        @include responsive(large-laptop) {
            padding: 0 30px;
        }

        @media (width < 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 30px;
        }
        
        &-left {
            margin-right: 50px;
            width: 450px;

            @media (width < 1024px) {
                margin-right: unset;;
            }

            @media (width < 375px) {
                width: 300px;
            }

            &-owner {
                width: 100%;
                font-size: 19px;
                border: 1px solid #f4f4f6;
                border-radius: 5px;
                padding: 40px;

                @media (width < 768px) {
                    padding: 20px;
                }

                &-mark {
                    margin-top: 50px;
                    height: 50px;
                }

                &-elements {
                    margin-top: 30px;
                    display: flex;
                    align-items: flex-start;

                    & img {
                        width: 40px;
                        margin-right: 10px;
                        filter: invert(25%) sepia(2%) saturate(11%) hue-rotate(193deg) brightness(90%) contrast(97%);
                    }
                }

                &-update-period {
                    display: flex;
                    padding: 10px 20px;
                    background-color: #f4f4f6;
                    width: 100%;
                    height: 50px;
                    font-size: 19px;
                    align-items: center;
                    margin-top: 30px;

                    & img {
                        width: 20px;
                        margin-right: 15px;
                    }

                    &-label {
                        min-width: 122px;
                    }
                }

                &-update-data {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;

                    &-range {
                        cursor: pointer;
                        & img {
                            width: 10px;
                            margin: -2px 0 0 2px;
                            rotate: 180deg;
                            filter: invert(28%) sepia(7%) saturate(147%) hue-rotate(155deg) brightness(98%) contrast(88%);;
                        }
                    }
                }

                &-subscribe {
                    margin-top: 30px;

                    & button {
                        width: 200px;
                        height: 60px;
                        background-color: #00ccf5;
                        border-radius: 10px;
                        border: 0px;
                        box-shadow: 0 5px #309dbc;
                        cursor: pointer;

                        &:hover {
                            background-color: #02badf;
                        }

                        &:active {
                            box-shadow: 0 -3px #309dbc;
                        }

                        & img {
                            rotate: 45deg;
                            filter: brightness(0) invert(1);
                            margin-right: 20px;
                        }

                        & span {
                            font-size: 23px;
                            color: white;
                        }
                    }
                }
            }
        }

        &-back {
            margin-top: 50px;
            width: 100%;
            height: 115px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 0 30px;
            color: white;
            cursor: pointer;
            border: 2px solid white;
            background-image: url(assets/img/card-back.png);
            background-repeat: no-repeat;
            background-size: cover;

            @media (width < 1024px) {
                margin-bottom: 50px;
            }

            &:hover {
                outline: 2px solid #44daf8;
            }

            &-content {
                font-size: 22px;
                & img {
                    rotate: 180deg;
                    filter: brightness(0) invert(1);
                    width: 23px;
                    margin-right: 10px;
                }
            }
        }

        &-detail {
            margin-bottom: 50px;
            &-tab {
                &-tabbutton {
                    overflow: hidden;
                    border: 1px solid #f4f4f6;
                    border-radius: 5px 5px 0 0;

                    & button {
                        background-color: inherit;
                        float: left;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding: 40px 50px;
                        transition: 0.3s;
                        font-size: 19px;
                        display: flex;
                        align-items: center;

                        @include responsive(large-laptop) {
                            padding: 20px;
                        }

                        @media (width < 768px) {
                            padding: 20px;
                        }
        
                        &:hover, &.active {
                            background-color: #f4f4f6;
                        }
        
                        & img {
                            width: 25px;
                            height: 22px;
                            margin-right: 13px;
                        }
                    }
                }
    
                &-tabpane {
                    display: none;
                    border: 1px solid #f4f4f6;
                    border-radius: 0 0 5px 5px;
                    border-top: none;
    
                    &-header {
                        padding: 40px;

                        @media (width < 768px) {
                            padding: 20px;
                        }

                        &-title {
                            font-size: 26px;
                            margin: 0;
                        }
        
                        &-description {
                            font-size: 19px;
                            margin: 0;
                        }
                    }
    
                    & img {
                        width: 100%;
                        max-height: 310px;
                    }

                    &-content {
                        padding: 40px;
                        display: flex;
                        font-size: 19px;
                        flex-direction: column;

                        @media (width < 768px) {
                            padding: 20px;
                        }

                        & span {
                            width: fit-content;
                        }

                        &-format {
                            display: flex;
                            height: 50px;
                            align-items: center;
                            font-size: 16x;

                            &-label {
                                font-size: 19px;
                            }

                            &-csv, &-json {
                                height: 30px;
                                padding: 5px 10px;
                                margin: 5px;
                                font-size: 14px;
                                font-weight: 600;
                                border: 1px solid #4d4f50;
                                border-radius: 3px;
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                color: #4d4f50;
                                cursor: default;
                            }

                            &-csv:hover, &-json:hover {
                                color: white;
                                background-color: #4d4f50;
                            }
                        }

                        &-download {
                            margin: 20px 0;
                            &-item {
                                margin: 5px;
                                display: flex;
                                flex-wrap: wrap;
                                & span {
                                    margin: 0 10px;
                                }
                                & img {
                                    width: 15px;
                                    filter: invert(77%) sepia(91%) saturate(1896%) hue-rotate(164deg) brightness(99%) contrast(101%);
                                    cursor: pointer;
                                }
                                &-filename {
                                    color: #44daf8;
                                    cursor: pointer;
                                }
                                &-date {
                                    color: #e7eaeb;
                                }
                            }
                        }

                        &-more {
                            margin-top: 10px;
                            cursor: pointer;
                            & img {
                                width: 9px;
                                rotate: 180deg;
                                margin-top: -6px;
                                filter: invert(28%) sepia(7%) saturate(147%) hue-rotate(155deg) brightness(98%) contrast(88%);;
                                margin-left: 5px;     
                            }
                        }

                        &-accordion {
                            margin: 30px 0;

                            &-title {
                                margin-top: 10px;
                                display: flex;
                                width: 100%;
                                height: 50px;
                                border-radius: 5px;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                background-color: #f4f4f6;
                                transition: 0.4s;
                                & img {
                                    width: 20px;
                                    margin-right: 15px;
                                    filter: invert(0.8);
                                }
                                & span {
                                    font-size: 19px;
                                    font-weight: 600;
                                }
                            }

                            &-description {
                                max-height: 0;
                                overflow: hidden;
                                transition: max-height 0.2s ease-out;

                                &-grid {
                                    display: none;
                                    @media (width < 768px) {
                                        display: block;
                                    }
                                }

                                & table {
                                    display: block;
                                    width: 100%;
                                    font-size: 19px;
                                    margin: 15px 0;
                                    padding: 0 30px;
                                    border-spacing: 0;

                                    @media (width < 768px) {
                                        display: none;
                                    }

                                    @include responsive(large-laptop) {
                                        padding: unset;
                                        font-size: 16px;
                                    }
                                }

                                &-label {
                                    text-align: right;
                                    font-weight: 600;
                                    padding: 0 30px 20px 0;
                                    border-right: 1px solid #f4f4f6;
                                    vertical-align: initial;
                                }

                                &-info {
                                    text-align: left;
                                    padding: 0 0 20px 30px;
                                    font-weight: unset;
                                    display: flex;
                                    flex-direction: column;
                                    border-left: 1px solid #f4f4f6;
                                    vertical-align: initial;

                                    &-cat{
                                        padding: 5px 20px;
                                        margin: 5px 0;
                                        font-size: 16px;
                                        border-radius: 5px;
                                        text-transform: uppercase;
                                        background-color: #4d4f50;
                                        color: white;
                                    }
                                }

                                &-item {
                                    margin: 15px 0;
                                    padding: 0 30px;
                                    display: flex;
                                    font-size: 18px;
                                    flex-direction: column;

                                    @media (width < 375px) {
                                        padding: 0 10px;
                                        font-size: 16px;
                                    }

                                    &-label {
                                        font-weight: 600;
                                    }

                                    &-info {
                                        text-align: left;
                                        padding: 0 30px;
                                        display: flex;
                                        flex-direction: column;

                                        @media (width < 375px) {
                                            padding: 0 10px;
                                        }

                                        &-cat{
                                            padding: 5px 20px;
                                            margin: 5px 0;
                                            border-radius: 5px;
                                            text-transform: uppercase;
                                            background-color: #4d4f50;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu-item.active {
    .accordion-open-icon-plus{
        display: block;
    }

    .accordion-open-icon-minus{
        display: none;
    }
}

.menu-item {
    .accordion-open-icon-plus{
        display: none;
    }

    .accordion-open-icon-minus{
        display: block;
    }
}