@import "../variables.scss";
@import "../responsive.scss";

.slidebar {
    display: flex;
    justify-content: center;
    margin-top: 56px;

    &-slideshow {
        max-width: 1031px;
        max-height: 476px;
        margin-right: 35px;
        position: relative;

        @media (width < 1024px) {
            margin: 0 50px;
            width: 100%;
        }
    
        &-slides {
            display: none;
        }
    
        &-fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }
    
        &-prev, &-next {
            cursor: pointer;
            position: absolute;

            width: auto;
            margin: -53px 20px;
            padding: 10px;
            color: black;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
    
        &-next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
    
        &-dots {
            text-align: center;
            margin-top: -35px;
        
            &-dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
        
                &:hover {
                    background-color: #717171;
                }
            }
        }
    }
    &-map-container {
        width: 394px;
        max-height: 476px;
        background-color: $white-color;
        display: flex;
        flex-direction: column;

        @include responsive(laptop-large) {
            width: 300px;
        }

        @media (width < 1024px) {
            display: none;
        }
    }
}

.active {
    background-color: #717171;
}

@keyframes slidebar-slideshow-fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}