@import "../variables.scss";
@import "../responsive.scss";

.small-slidebar {
    max-width: 694px;
    margin: 0 20px;
    display: flex;

    @media (width < 1421px) {
        display: none;
    }
    
    &-slides {
        min-width: 300px;
        height: 136px;
    }
}