.manaskopas {

    margin-top: 53px;

    &-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &-left {
            display: flex;
            flex-direction: column;

            &-stitle {
                display: flex;
                flex-direction: row;
                align-items: center;

                &-font {
                    font-size: 44px;
                    color: #545454;

                    @media (width < 540px) {
                        font-size: 38px;
                    }
                }

                &-icon {
                    margin-left: 25px;
                    width: 30px;
                    height: 43px;
                    transform: rotate(45deg);
                    filter: invert(27%) sepia(5%) saturate(194%) hue-rotate(155deg) brightness(105%) contrast(89%);

                    @media (width < 540px) {
                        width: 20px;
                        height: 25px;
                    }
                }
            }

            &-sub {
                &-font {
                    font-size: 19px;
                    color: #656667;

                    @media (width < 540px) {
                        font-size: 13px;
                    }
                }

                &-icon {
                    width: 8px;
                    height: 10px;
                    transform: rotate(90deg);
                    margin: 7px 15px;
                    filter: invert(28%) sepia(7%) saturate(147%) hue-rotate(155deg) brightness(98%) contrast(88%);
                }
            }
        }

        &-right {
            width: 393px;
            height: 138px;
            background-color: #f4f4f6;

            &-area {
                margin-top: 13px;
                margin-left: 26px;

                &-sub {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    &-font {
                        font-size: 19px;
                        color: #4d4f50;
                    }

                    &-icon {
                        margin-right: 23px;
                        width: 20px;
                        height: 20px;
                        filter: invert(99%) sepia(0%) saturate(11%) hue-rotate(139deg) brightness(88%) contrast(86%);
                    }
                }


            }
        }
    }

    &-main {

        &-sub1 {
            margin-top: 55px;
            margin-bottom: 35px;

            &-font {
                font-size: 26px;
                color: #5b5b5b;
            }
        }

        &-sub3 {
            margin-top: 55px;
            margin-bottom: 35px;

            &-font {
                font-size: 26px;
                color: #5b5b5b;
            }
        }

        &-sub5 {
            margin-top: 35px;
            margin-bottom: 90px;

            &-font {
                font-size: 24px;
                color: white;
            }

            &-icon {
                width: 21px;
                height: 21px;
                filter: invert(100%);
            }

            &-btn5 {

                width: 306px;
                height: 68px;
                border: unset;
                background: white;
                background-color: #00ccf5;
                border-radius: 7px;
                border-color: #00ccf5;
                box-shadow: 0px 4px #309dbc;
                display: flex;
                justify-content: space-evenly;
                align-items: center;


                &-font {
                    font-size: 24px;
                    color: white;
                }

                &-icon {
                    width: 21px;
                    height: 21px;
                    filter: invert(100%);
                }
            }

            &-btn5:hover {
                background-color: #00bde3;
            }

            &-btn5:active {
                border: none;
                background-color: #00ccf5;
                box-shadow: 0px -3px 0px 0px #309dbc;
            }
        }
        
        & td,
        th {
            border: 1px solid #f4f4f6;
        }

        &-tb1 {
            border: 1px solid #f4f4f6;
            border-spacing: 0px;
            width: 100%;
            border: 1px solid #f4f4f6;
            border-radius: 4px;

            &-tr1 {
                height: 100px;
                font-size: 19px;
                text-align: left;

                &-th1 {
                    background-color: #f4f4f6;
                    border-spacing: 0px;
                    width: 448px;

                    &-font1 {
                        margin-left: 48px;
                    }

                    &-sort {
                        margin-left: 15px;
                        width: 21px;
                        height: 21px;
                        filter: invert(74%) sepia(96%) saturate(1%) hue-rotate(75deg) brightness(94%) contrast(94%);
                    }
                }
            }

            &-tr2 {

                height: 100px;

                &-td1 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &-warm {
                        margin-right: 20px;
                        width: 22px;
                        height: 19px;
                        filter: invert(15%) sepia(31%) saturate(5254%) hue-rotate(330deg) brightness(110%) contrast(100%);
                    }

                    &-warm1 {
                        margin-left: 20px;
                        width: 15px;
                        height: 15px;
                        filter: invert(62%) sepia(96%) saturate(1329%) hue-rotate(144deg) brightness(93%) contrast(107%);
                    }

                    &-font {
                        font-size: 19px;
                        color: #00ccf5;
                        text-decoration: underline;
                    }
                }

                &-td2 {
                    display: flex;
                    justify-content: center;

                    &-btn {
                        width: 122px;
                        height: 32px;
                        border: none;
                        background-color: #33d751;
                        border-radius: 2px;

                        &-font {
                            font-size: 14px;
                            color: white;
                        }
                    }
                }

                &-td3 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    &-left {
                        font-size: 19px;
                        margin-left: 45px;
                    }

                    &-right {
                        flex-direction: row;
                        display: flex;
                        align-items: center;
                        margin-right: 45px;

                        &-part1 {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            &-sub1 {
                                margin-right: 15px;
                                width: 26px;
                                height: 23px;
                            }

                            &-font1 {
                                color: #424242;
                                font-size: 19px;
                                text-decoration: underline;
                                margin-right: 60px;
                            }

                            &-font1:hover {
                                cursor: pointer;
                                font-weight: bold;
                            }
                        }

                        &-part2 {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            &-sub2 {
                                margin-right: 15px;
                                width: 16px;
                                height: 16px;
                                filter: invert(29%) sepia(6%) saturate(172%) hue-rotate(155deg) brightness(97%) contrast(88%);
                            }

                            &-font2 {
                                color: #424242;
                                font-size: 19px;
                                text-decoration: underline;
                            }

                            &-font2:hover {
                                cursor: pointer;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        &-tb2 {
            border: 1px solid #f4f4f6;
            border-spacing: 0px;
            width: 100%;
            border: 1px solid #f4f4f6;
            border-radius: 4px;

            &-tr1 {
                height: 100px;
                font-size: 19px;
                text-align: left;

                &-th1 {
                    background-color: #f4f4f6;
                    border-spacing: 0px;
                    width: 448px;
                    border: 1px solid #f4f4f6;

                    &-font1 {
                        margin-left: 48px;
                    }

                    &-sort {
                        width: 21px;
                        margin-left: 15px;
                        height: 21px;
                        filter: invert(74%) sepia(96%) saturate(1%) hue-rotate(75deg) brightness(94%) contrast(94%);
                    }
                }
            }

            &-tr2 {

                height: 100px;

                &-td1 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &-warm1 {
                        margin-left: 20px;
                        width: 15px;
                        height: 15px;
                        filter: invert(62%) sepia(96%) saturate(1329%) hue-rotate(144deg) brightness(93%) contrast(107%);
                    }

                    &-font {
                        font-size: 19px;
                        color: #00ccf5;
                        text-decoration: underline;
                    }
                }

                &-td2 {
                    display: flex;
                    justify-content: center;

                    &-btn {
                        width: 160px;
                        height: 32px;
                        border: none;
                        background-color: #9f1b33;
                        border-radius: 2px;

                        &-font {
                            font-size: 14px;
                            color: white;
                        }
                    }
                }

                &-td3 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    &-left {
                        font-size: 19px;
                        margin-left: 45px;
                    }

                    &-right {
                        flex-direction: row;
                        display: flex;
                        align-items: center;
                        margin-right: 45px;

                        &-part1 {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            &-sub1 {
                                margin-right: 15px;
                                width: 26px;
                                height: 23px;
                            }

                            &-font1 {
                                color: #424242;
                                font-size: 19px;
                                text-decoration: underline;
                                margin-right: 60px;
                            }
                        }

                        &-part2 {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            &-sub2 {
                                margin-right: 15px;
                                width: 16px;
                                height: 16px;
                                filter: invert(29%) sepia(6%) saturate(172%) hue-rotate(155deg) brightness(97%) contrast(88%);
                            }

                            &-font2 {
                                color: #424242;
                                font-size: 19px;
                                text-decoration: underline;
                            }

                            &-font2:hover {
                                font-weight: bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

    }
}